<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <ion-item>
     <ion-label>dato 1:</ion-label>
     <ion-input type="number" aria-placeholder="Digite el primer numero:"></ion-input>
    </ion-item>
    <ion-item>
     <ion-label>dato 2:</ion-label>
     <ion-input type="number" aria-placeholder="Digite el segundo numero:"></ion-input>
    </ion-item>

  <ion-button (click)="sumarNumero()" color"secondary" expand="blocK">sumar</ion-button>
  </div>
</ion-content>
